.event {
  background: #15181b;
  color: aliceblue;
}

.logo {
  font-size: 40px!important;
  color: #ffca5f!important;
  font-weight: bold;
}

.imgLogo {
  position: absolute;
  font-size: xx-large;
  color: white;
  font-weight: 700;
  top: 350px;
  opacity: 1 !important;
  padding-left: 10px;
}
.imgLocation {
  font-size: 15px;
  display: flex;
}

.left h1 {
  font-size: 68px;
  color: #ffffff33;
  font-weight: 900;
}
.txtGap {
  line-height: 480%;
}

/* Slideshow */

.slideshow {
  margin: 0 auto;

  /* overflow: hidden;   */

  max-width: 300px;
}

.slideshowSlider {
  white-space: nowrap;
}

.slide {
  display: flex;
  flex-direction: column;
  height: 0px;
  padding-right: 5%;
  width: 100%;
  
  border-radius: 40px;

  transition: transform 0.5s ease-in-out;
}

.mid {
    background: #a49db8;
}

.early {
    margin-right: 5%;
    color: black!important;
    rotate: 90deg;
    max-width: 100vh;
}

.spn {
  z-index: 1;
  background: #B9A0FF;
  overflow: hidden;

}

.article {
    margin: 1em auto;
    overflow: hidden;
    min-height: 5em;

  }

  .article p {
    font-size: 25px;
  }
  
  .exampleLeft {
    white-space: nowrap;
    position: absolute;
  }
  
  .exampleLeft {
    -webkit-animation: mymove 4s linear infinite; /* Safari 4.0 - 8.0 */
    white-space: nowrap;
    animation: mymove 4s linear infinite;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes mymove {
    from {
      left: 0;
    }
    to {
      left: -140px;
    }
  }
  
  @keyframes mymove {
    from {
      left: 0;
    }
    to {
      left: -140px;
    }
  }
  
  
  @keyframes early 
  { from { opacity:1; } to { opacity:0; } }
  
  .early {
      animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time */
  
      animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  
      animation-duration:1s;
      animation-delay: 1s
  }

  .symbol {
    padding: 0 2%;
    font-size: 60px;
    vertical-align: middle;
  }







  .right {
    background: #15181b;
    z-index: 1;
padding-left: 3%;
    min-width: 30%;
    max-width: 30%;
  }

  .rightTitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 60px;
  }
  .rightTitle2{
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 40px;
  }

  .rightHeading {
    font-size: 57px;
    font-weight: 700;
    line-height: 90%;

  }
  .rightHeading2{
    font-weight: 900;
    letter-spacing: 1px;
  }

  .venue {
    font-size: 18px;
  }
  .venue2{
    margin-top: 15px;
    font-weight: 800;
  }

  .joinBtn {
    background: #FFCA5F;
    color: black;
    font-weight: 700;
    height: fit-content;
    padding: 1% 3%;
    border-radius: 100em;
    
  }




.radioBlock {
  position: relative;
  max-width: 250px;
  display: flex;
  border-radius: 100em;
  background-color: #282B30;
}

.selected {
  position: absolute;
  width: calc(50%);
  height: calc(100%);
  border-radius: 100em;
  transition: transform 0.2s;
  background-color: #484E56;
}

.form input[type="radio"] {
    width: 1px !important;
    height: 1px !important;
    clip-path: inset(50%) !important;
    white-space: nowrap !important;
}

.form label {
  position: relative;
  z-index: 100;
  width: 50%;
  padding: 11px;
  transition: color 0.2s;
  text-align: center;
  cursor: pointer;
}

.form input[type="radio"]:checked + label {
  color: #FFF;
} 

.form input[type="radio"]:checked + .offLabel + .selected {
  transform: translateX(100%);
} 
.icons {
  height: 18px;
  width: 15px;
  margin-top: 5px;
}
.iconsWatch {
  height: 18px;
  width: 20px;
  margin-top: 5px;
}
/* styles.module.css */
